.item-attributes {
  list-style: none;
  padding: 0;
}

.item-attributes > li {
  margin-bottom: 14px;
  line-height: 100%;
}

.item-attributes .label {
  font-size: 15px;
  margin: 0 0 5px;
  display: block;
  color: #808080;
  font-weight: bold;
}

.item-attributes .value {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin: 0;
}
