.item .btn-group {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
}

.item .btn-secondary {
  padding: 6px;
}

.item .btn-secondary svg {
  margin: 0;
}

.item .dropdown-menu {
  left: auto !important;
  right: 0px !important;
  transform: none !important;
  top: 100% !important;
}
