.torrent-item-search {
  padding: 10px 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #333;
}

.torrent-item-search .torrent-play {
  flex: 0 0 60px;
  max-width: 60px;
  padding-right: 10px;
}
